.home_container {
    margin-top: 75px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
}

.widget {
    padding: 20px;
    margin-top: 75px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    height: 235px;
    width: 250px;
    max-height: 235px;
    background-color: #faf6f0;
}

.widget>h4 {
    text-align: center;
}

.current_book>h6,
.current_book>p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.book_cover {
    display: block;
    margin: auto;
    border-radius: 7px;
    height: 120px;
    width: 90px;
    border: 1px solid #888;
}

.meeting_info {
    font-size: 18px;
}

.meeting_info>h4 {
    margin-bottom: 15px;
}

.meeting_info>p {
    margin-bottom: 1px;
}

.posts {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    background-color: #faf6f0;
}

.content {
    margin-left: 15px;
    max-height: 100px;
    top: 50px;
    left: 50px;
    overflow-y: auto;
}


.user>img {
    border: 1px solid;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.user>p {
    margin-left: 10px;
    margin-top: 10px;
}

.user_post {
    display: flex;
    padding: 10px;
    max-width: 450px;
}

.submit_button {
    width: 60px;
    font-size: 15px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    background-color: #c8ebf7;
    border: 1px solid #c8ebf7;
    border-radius: 6px;
    position: relative;
    left: -170px;
}

.submit_button:hover {
    background-color: #bce0ec;
    transition: 0.3s;
}

.add_comment {
    margin-top: 15px;
    height: 32px;
}

.user_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 450px;
}

.star_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.star {
    display: flex;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 18px;
    right: 45px;
    align-items: center;
    justify-content: center;
}

.star>img {
    max-width: 100%;
}

.rating {
    display: flex;
    margin-left: 10px;
}

.rating>img {
    height: 100px;
    width: 70px;
    border-radius: 4px;
    border: 1px solid #888;
}