.user_info{
    float: left;
}

.users_card{
    background-color: #fefbf7;
    margin: 15px;
    border-radius: 10px;
    border-color: rgb(205, 205, 205);
    border-width: 1px;
    border-style: solid;
    height: 100px;
}

.pic{
    margin-top: 10px;
    border-radius: 50%;
    width:80px;
    float: left;
}

.info_box h4{
    margin-right: 120px;
}