.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
}

body {
   background-color: #ffffff;
   margin: 0;
   overflow-y: scroll;
   scrollbar-width: none;
}

.section1 {
   background-color: rgb(255, 255, 255);
   height: 700px;
}

.section2 {
   border-radius: 10px;
   border-color: rgb(195, 195, 195);
   border-width: 1px;
   border-style: solid;
   height: 700px;
   background-color: #faf6f0;

}

.section3 {
   background-color: rgb(255, 255, 255);
   height: 700px;
}

header {
   padding: 20px;

}

footer {
   text-align: center;
   padding: 20px;
}

.dialog {
   height: 95px;
   width: 400px;
   border-radius: 10px;
}

.dialog_box {
   border-radius: 10px;
   border-color: black;
   border-width: 1px;
}


.pfp_container {
   overflow: hidden;
}

.pfp {
   object-fit: cover;
   border-radius: 50%;
   height: 150px;
   width: 150px;
}

.name_desc{
   text-align: left;
}