body {
   background-color: #ffffff;
   margin: 0;
   overflow-y: scroll;
   scrollbar-width: none;
}

hr {
   width: 100%;
}

.section {
   border-radius: 10px;
   border-color: rgb(195, 195, 195);
   border-width: 1px;
   border-style: solid;
   background-color: #ffffff;
   margin-bottom: 15px;
   padding-top: 20px;
   margin-top: 75px;
}

.container_widget {
   margin-top: 30px;
   margin-bottom: 30px;
}

.widget {
   margin: 10px 10px 0px 10px;
   padding: 10px;
   border: 1px solid #c3c3c3;
   border-radius: 10px;
   height: 250px;
   background-color: #faf6f0;
}

header {
   padding: 20px;
}

.content {
   margin-left: 30px;
   max-height: 100px;
   text-align: left;
}

.dialog {
   height: 95px;
   width: 400px;
   border-radius: 10px;
}

.dialog_box {
   border-radius: 10px;
   border-color: black;
   border-width: 1px;
   width: 435px;
   height: 130px;
}

.pfp_container {
   overflow: hidden;
   margin-bottom: 10px;
}

.pfp {
   object-fit: cover;
   border-radius: 50%;
   height: 150px;
   width: 150px;
   border: 1px solid #767676;
}

.pfp_btn {
   margin-bottom: 12px;
}

.name_desc {
   text-align: left;
}

.feed_container {
   padding: 10px;
   margin: 10px;
   margin-top: 75px;
   border-radius: 10px;
   border: 1px solid #c3c3c3;
   background-color: #ffffff;
}

.widget img {
   height: 150px;
   border-radius: 10px;
}

.feed_content {
   margin-left: 15px;
   max-height: 100px;
   overflow-y: auto;
}

.feed_pfp {
   object-fit: cover;
   border-radius: 50%;
   height: 50px;
   width: 50px;
}

textarea {
   margin-top: 15px;
   height: 32px;
   width: 470px;
}


.posts {
   position: relative;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-bottom: 25px;
   border-radius: 10px;
   border: 1px solid #c3c3c3;
   background-color: #faf6f0;
}

.content {
   margin-left: 15px;
   max-height: 100px;
   overflow-y: auto;
}


.user>img {
   border: 1px solid;
   object-fit: cover;
   border-radius: 50%;
   height: 50px;
   width: 50px;
}

.user>p {
   margin-left: 10px;
   margin-top: 10px;
}

.user_post {
   display: flex;
   padding: 10px;
   max-width: 450px;
}

.submit_button {
   width: 60px;
   height: 32px;
   font-size: 15px;
   padding: 1px;
   margin: 10px;
   cursor: pointer;
   background-color: #b8d7e9;
   border: 1px solid #b8d7e9;
   border-radius: 6px;
   position: absolute;
   top: 73%;
   left: 1%;
}

.submit_button:hover {
   background-color: #bce0ec;
   transition: 0.3s;
}

.quote_box {
   height: 160px;
   width: 140px;
}

.widget_alt img{
   height: 175px;
}

.user_rating {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   max-width: 450px;
}

.star_container {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

.star {
   display: flex;
   position: absolute;
   top: 18px;
   right: 25px;
   align-items: center;
   justify-content: center;
}

.star>svg {
   height: 20px;
   width: 20px;
   margin-left: 1px;
   color: #e9c110;
   background-color: rgba(136, 136, 136, 0);
}

.rating {
   display: flex;
   margin-left: 10px;
}

.rating>a>img {
   height: 120px;
   border-radius: 4px;
   border: 1px solid #888;
   margin-left: 15px;
}

.read{
   height:150px;
}

.read p{
   font-size: 12px;
   margin-bottom: 3px;
   margin-top: 1px;
}

.read a{
   color: rgb(65, 65, 65);
}

.read_books img{
   height: 100px;
   border-color: #c3c3c3;
   border-width: 1px;
   border-style: solid;
}

