.public_club_box {
    background-color: #faf6f0;
    width: 450px;
    height: 170px;
    border-radius: 7px;
    margin: 15px;
    position: relative
}

.public_club_box img {
    margin-top: 15px;
    margin-right: 100px;
    width: 100px;
    height: 140px;
    border-radius: 7px;
}

.public_club_box h4 {
    margin-top: 10px;
    text-align: left;
}

.public_club_box input {
    width: 100px;
    margin: 2% 2% 1% 35%;
    background-color: #c8ebf7;
    position: absolute;
    top: 65%;
    left: 41%;
}

.public_club_box input:hover {
    background-color: #c8ebf7;
}

.public_club_box p {
    text-align: left;
}


.public_club {
    border-radius: 10px;
    border-color: rgb(195, 195, 195);
    border-width: 1px;
    border-style: solid;
}

.btn {
    width: 70px;
    background-color: #c8ebf7;
    float: left;
}