body {
   background-color: #ffffff;
   margin: 0;
   padding-right: calc(100vw - 100%);
   overflow-y: scroll;
   scrollbar-width: none; 
}

.beige {
   background-color: #fefbf7;
}


.login-box {
   padding: 20px;
   padding-top: 50px;
   height: 360px;
   width: 500px;
   margin-left: 37%;
   margin-top: 230px;
   position: relative;
   background: #fefbf7;
   border-radius: 10px;
}

.main {
   margin-top: 50px;
}

h1.title {
   font-size: 50px;
   font-family: 'Passion One', cursive;
   font-weight: 400;
}

hr {
   width: 10%;
   color: #ffffff;
}

.form-group {
   margin-bottom: 15px;
}

label {
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login {
   background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;

}

.form-control {
   height: auto !important;
   padding: 8px 12px !important;
}


span.input-group-addon i {
   color: #fff;
   font-size: 17px;
   padding: 10px;
}

.login-button:hover {
   margin-top: 5px;
   background-color: #b6c7f7;

}

.login-register {
   font-size: 11px;
   text-align: center;
}

.login-body {
   padding: 20px;
   line-height: 2;
}


.main {
   margin-top: 50px;
}

hr {
   width: 10%;
   color: #fff;
}

.form-group {
   margin-bottom: 15px;
}

label {
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

z .form-control {
   height: auto !important;
   padding: 8px 12px !important;
}

span.input-group-addon i {
   color: #fff;
   font-size: 17px;
   padding: 10px;
}

.login-register {
   font-size: 11px;
   text-align: center;
}
<<<<<<< Updated upstream

.site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
   color: #fff;
}



.columns {
   margin: 5rem auto;
   width: min(90%, 75rem);
   display: grid;
   grid-auto-flow: row;
   gap: 2em;
 }
 
 @media (min-width: 55em) {
   .columns {
     grid-auto-flow: column;
   
    }
 }
 
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 :root {  
   --clr-primary: #ee6352;
   --clr-secondary: #d16e8d;
   --clr-accent: #F7F7FF;
   --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
   --ff-title: bungee, sans-serif;
   --ff-body: canada-type-gibson,sans-serif;
   --fw-body: 300;
   --fw-bold: 800;
   --fw-title: 400;
   --fw-number: 800;
 }
 
 body {
   
   font-size: 1.25rem;
 }
 

 
 footer {
   background-color: #b6c7f7;
   color: white;
   padding: 20px;
 }
 
=======
>>>>>>> Stashed changes
