body {
   background-color: #ffffff;
   margin: 0;
   padding-right: calc(100vw - 100%);
   overflow-y: scroll;
   scrollbar-width: none;
}

.beige {
   background-color: #fefbf7;
}

.logo {
   height: 55px;
   width: 55px;
   border-radius: 50%;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(138, 138, 138);
}

.login_box {
   padding: 20px;
   padding-top: 50px;
   height: 300px;
   width: 500px;
   margin-left: 37%;
   margin-top: 230px;
   position: relative;
   background: #fefbf7;
   border-radius: 10px;
}

.main {
   margin-top: 50px;
}

h1.title {
   font-size: 50px;
   font-family: 'Passion One', cursive;
   font-weight: 400;
}

hr {
   width: 10%;
   color: #ffffff;
}

.form_group {
   margin-bottom: 15px;
}

label {
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.form_control {
   height: auto !important;
   padding: 8px 12px !important;
   background-color: none !important;
   border-radius: 10px;
   border-color: #b6b6b6; 
   border-width: 1px;
   width: 460px;
   border-style: solid;
}

.btn {
   width: 100%;
}

span.input-group-addon i {
   color: #fff;
   font-size: 17px;
   padding: 10px;
}

.error_msg {
   font-size: 12px;
   border-radius: 10px;
   border-width: 1px;
   border-color: #ababab;
   border-style: solid;
   padding: 3px;
   height: 62px;
}
