/* Body Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Profile Section Styles */
.profile_section {
    background-color: #faf6f0;
    border-bottom: 2px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}

.profile_section img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 50%;
}

.profile_section h1 {
    margin-top: 0;
}

/* Members Box Styles */

.members_box h2 {
    margin-top: 0;
    font-size: 25px;
}

.members_box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.members_box {
    flex: 1;
    margin-top: 70px;
    width: 150px;
    background-color: #faf6f0;
    border: 1px solid #898989;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    
}


/* Boxes Section Styles */

.book_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper_box {
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    background-color: #faf6f0;
    border-color: rgb(171, 171, 171);
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.wrapper_box h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.wrapper_box img {
    height: 300px;
}

.wrapper_box p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* Poll Section Styles */
.poll-container {
    display: flex;
}

.poll_box {
    border-radius: 10px;
    border-color: #898989;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    padding: 15px;
    background-color: #faf6f0;
    text-align: center;
}

.poll_box:last-child {
    margin-right: 0;
}

.poll_box img {
    height: 350px;
    width: 250px;
}

input[type="submit"] {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    background-color: #c8ebf7;
}

.poll-section {
    text-align: center;
}

.poll-section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.name_desc {
    padding-top: 10px;
    text-align: left;
    width: 500px;
}

.club_pic {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid #767676;
 }

#total_members {
    font-size: 20px;
 }


.leave_button {
    width: 60px;
    height: 40px;
    font-size: 15px;
    margin-right: 24px;
    cursor: pointer;
    background-color: #b8d7e9;
    border: 1px solid #b8d7e9;
    border-radius: 6px;
    float: right;
    
}


img{
    border-radius: 10px;
    border: 1px solid #d0cece;
}

.suggest_btn{
    width: 150px !important;
}
 
.suggest_input{
    border-radius: 6px;
    border-style: solid;
    margin: 10px;
    border-color: #cdcdcd;
    border-width: 1px;
    padding: 4px;
}
 