<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Nook</title>
    <link rel="icon"
        href="https://cdn.discordapp.com/attachments/1078973373608112128/1099769461256503396/Untitled_Artwork.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container text-center" style="margin-top: 100px;">
        <div class="row">
            <div class="col">
                <!--Empty box-->
            </div>
            <div class="col">
                {% for index in range(users|length) %}
                <a href="{{ url_for('profiles', users=users[index]) }}" class="a">
                    <div class="container text-center">
                        <div class="row users_card">
                            <div class="col-3" class="pic_box">
                                <img src="{{ users_info[index][0]  }}" alt="Profile Picture" class="pic">
                            </div>
                            <div class="col info_box">
                                <h4 class="user_info">{{ users[index] }}</h4>
                                <p class="user_info">{{ users_info[index][1] }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="col">
                <!--Empty Box-->
            </div>
        </div>
    </div>
</body>

</html>