<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Nook</title>
  <link rel="icon" href="https://cdn.discordapp.com/attachments/1078973373608112128/1089867595383050291/2opekg.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  {% include 'navbar.html' %}

  <header style="margin-top: 50px;"></header>

  <div class="container text-center">
    <div class="row">
      <div class="col-3" style="margin-right: 42px;">
        <!--Empty Sides-->
      </div>
      <div class="col-5 section" style="width: 600px;">

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <!--Profile Picture-->
              <div class="pfp_container">
                <img src="{{pfp}}" alt="pfp" class="pfp">
              </div>
              <!--Dialog box for profile picture-->
              <button class="btn" id="openpfpDialogBtn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
              </button>

              <dialog id="pfp_dialog" class="dialog_box">
                <div class="dialog">
                  <form class="form-group" action="{{ url_for('pfp') }}" method="post">
                    <input type="text" class="form-control" name="pfp" placeholder="Link please" id="pfp" required>
                    <label> </label>
                    <input type="submit" value="Submit" class="form-control btn" name="submitpfp"
                      style="width:80px; margin-top: 10px; background-color: #b8d7e9;">
                  </form>
                </div>
              </dialog>
            </div>

            <!--Name and Description-->
            <div class="col-4 name_desc">
              <h2>{{ username }}</h2>
              <p>{{user_desc}}</p>

              <button class="btn" id="opendescDialogBtn" style="margin-left: -65px; margin-top: -10px;">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
              </button>

              <dialog id="desc_dialog" class="dialog_box">
                <div class="dialog">
                  <form class="form-group" action="{{ url_for('user_desc') }}" method="post">
                    <input type="text" class="form-control" name="user_desc" placeholder="New description please"
                      id="user_desc" required>
                    <label> </label>
                    <input type="submit" value="Submit" class="form-control btn" name="submitdesc"
                      style="width:80px; margin-top: 10px; background-color: #b8d7e9;">
                  </form>
                </div>
              </dialog>
            </div>

            <div class="col-4 currently_reading">
              <!--add currently reading senare-->
            </div>

            <hr>

            <!--Favorite Book Box-->
            <div class="container text-center container_widget">
              <div class="row">
                <div class="col widget">
                  <p>Favorite book</p>
                  <img src="{{ favorite_book }}" alt="favorite_book">

                  <button class="btn" id="open_updatefavbook_DialogBtn" style="margin-top: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                  </button>

                  <dialog id="updatefavbook_dialog" class="dialog_box">
                    <div class="dialog">
                      <form class="form-group" action="{{ url_for('update_fav_book') }}" method="post">
                        <input type="text" class="form-control" name="update_fav_book"
                          placeholder="Pick favorite book please" id="update_fav_book" required>
                        <input type="submit" value="Submit" class="form-control btn" name="submitfavbook"
                          style="width:80px; margin-top: 10px; background-color: #b8d7e9;">
                      </form>
                    </div>
                  </dialog>

                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class="error_msg">
                    <p>Book Not Found :c Make sure you capitalized the title corretly.</p>
                  </div>
                  {% endif %}
                  {% endwith %}
                </div>


                <div class="col widget">
                  <p>Favourite quote:</p>
                  <p><i>"Just give me the f*cking valium" -Girl, Interrupted</i></p>
                </div>


                <!--Least Favorite Book Box-->
                <div class="col widget">
                  <p>Least favorite book</p>
                  <img src="{{ least_favorite_book }}" alt="least_favorite_book">

                  <button class="btn" id="open_updateleastfavbook_DialogBtn" style="margin-top: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                  </button>

                  <dialog id="update_least_fav_book_dialog" class="dialog_box">
                    <div class="dialog">
                      <form class="form-group" action="{{ url_for('update_least_fav_book') }}" method="post">
                        <input type="text" class="form-control" name="update_least_fav_book"
                          placeholder="Pick favorite book please" id="update_least_fav_book" required>
                        <input type="submit" value="Submit" class="form-control btn" name="submitleastfavbook"
                          style="width:80px; margin-top: 10px; background-color: #b8d7e9;">
                      </form>
                    </div>
                  </dialog>

                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class="error_msg">
                    <p>Book Not Found :c Make sure you capitalized the title corretly.</p>
                  </div>
                  {% endif %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>

          <hr>

          <!--Hela denna ska bli till en forloop-->
          <div class="col">
            <div class="col-6 col-sm-3 mx-auto posts" style="width: 500px;">
              <div class="col user user_post">
                <img src="{{pfp}}" alt="">
                <p>{{username}}</p>
              </div>
              <div class="col">
                <p class="content">
                  Hello everyone! How are you? Fine, thank you!
                </p>
              </div>
              <div class="col text-center">
                <form action="POST">
                  <textarea placeholder="Add comment"></textarea>
                  <input type="submit" value="Send" class="submit_button">
                </form>
              </div>
            </div>
          </div>
          <!--Hit-->
        </div>

        <div class="col-2">
          <!--Empty Sides-->
        </div>
      </div> <!--Hela row slut-->
    </div> <!--Hela container slut-->
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>