<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Nook</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/1078973373608112128/1089867595383050291/2opekg.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}

    <header style="margin-top: 50px;"></header>

    <div class="container text-center">
        <div class="row">
            <div class="col-3" style="margin-right: 42px;">
                <!--Empty Sides-->
            </div>
            <div class="col-5 section" style="width: 600px;">

                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <!--Profile Picture-->
                            <div class="pfp_container">
                                <img src="{{pfp}}" alt="pfp" class="pfp">
                            </div>
                        </div>

                        <!--Name and Description-->
                        <div class="col-4 name_desc">
                            <h2>{{ users }}</h2>
                            <p>{{user_desc}}</p>
                        </div>

                        <div class="col-4 currently_reading">
                            <!--add currently reading-->
                        </div>
                    </div>
                </div>

                <hr>

                <!--Favorite Book Box-->
                <div class="container text-center container_widget">
                    <div class="row">
                        <div class="col widget widget_alt">
                            <p>Favorite book</p>
                            <a href="{{ url_for('book', book_isbn=favorite_book_isbn) }}"><img src="{{ favorite_book }}"
                                    alt="favorite_book"></a>
                        </div>

                        <div class="col widget">
                            <p>Favorite quote</p>
                            <div class="quote_box">
                                <i>"{{ favorite_quote }}"</i>
                                <p>- {{ quote_book }}</p>
                            </div>
                        </div>

                        <!--Least Favorite Book Box-->
                        <div class="col widget widget_alt">
                            <p>Least favorite book</p>
                            <a href="{{ url_for('book', book_isbn=least_favorite_book_isbn) }}"><img
                                    src="{{ least_favorite_book }}" alt="least_favorite_book"></a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="container text-center">
                    <div class="row">
                      <div class="col widget read">
                        <a href="{{ url_for('want_to_read_page') }}">
                          <p>Want To Read</p>
                          <div class="read_books">
                            {% if book1 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book1">
                            {% else: %}
                            <img src="{{ book1['cover'] }}" alt="book1">
                            {% endif %}
                            {% if book2 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book2">
                            {% else: %}
                            <img src="{{ book2['cover'] }}" alt="book2">
                            {% endif %}
                            {% if book3 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book3">
                            {% else: %}
                            <img src="{{ book3['cover'] }}" alt="book3">
                            {% endif %}
                          </div>
                        </a>
                      </div>
                      <div class="col widget read">
                        <a href="{{ url_for('read_page') }}">
                          <p>Read</p>
                          <div class="read_books">
                            {% if book4 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book4">
                            {% else: %}
                            <img src="{{ book4['cover'] }}" alt="book4">
                            {% endif %}
                            {% if book5 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book5">
                            {% else: %}
                            <img src="{{ book5['cover'] }}" alt="book5">
                            {% endif %}
                            {% if book6 == None:%}
                            <img src="https://cdn.discordapp.com/attachments/1078973373608112128/1110915428793987132/nobooktoview.png" alt="book6">
                            {% else: %}
                            <img src="{{ book6['cover'] }}" alt="book3">
                            {% endif %}
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
        
                <hr>

                <!--Hela denna ska bli till en forloop-->
                {% for review in reviews %}
                <div class="col-6 col-sm-3 mx-auto posts" style="width: 500px;">
                    <div class="user user_post">
                        <img src="{{ pfp }}" alt="">
                        <p>{{ review[0] }}</p>
                    </div>
                    <div class="star_container">
                        <div class="star">
                            {% for _ in range(review[2]) %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="rating">
                        <a href="{{ url_for('book', book_isbn=book_isbn_list[loop.index0]) }}"><img
                                src="{{ book_cover_list[loop.index0] }}" alt="book cover"></a>
                        <p class="content">
                            {{ review[3] }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-2">
                <!--Empty Sides-->
            </div>
        </div> <!--Hela row slut-->
    </div> <!--Hela container slut-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>