<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Nook</title>
  <link rel="icon" href="https://cdn.discordapp.com/attachments/1078973373608112128/1099769461256503396/Untitled_Artwork.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/public_clubs.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container text-center" style="margin-top: 75px;">
    <div class="row">
      <div class="col">

      </div>
      <div class="col public_club">
        {% for book_club in book_clubs %}
        <div class="container text-center public_club_box public_club">
          <div class="row">
            <div class="col-3">
              <img src="{{ book_club[1] }}" alt="pic" class="public_club">
            </div>
            <div class="col-8">
              <h4>{{ book_club[0] }}</h4>
              <p>{{ book_club[2] }}</p>
              <form action="{{ url_for('join_club') }}" method="POST">
                <input type="hidden" name="book_club_title" value="{{ book_club.title }}">
                <input type="submit" value="Join" class="form-control btn" name="submitjoinbookclub">
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col">
        <form action="{{ url_for('create_club') }}" >
          <input type="submit" value="Create" class="form-control btn" name="create_book_club">
        </form>
      </div>
    </div>
  </div>